@font-face{
  font-family: Cinema;
  src: local("budmo"),
      local("budmo_jiggler"),
        url(./fonts/budmo_jiggler.ttf);
}

body{
  background: url("./images/landing_page1.jpg");
  background-size: cover;
  font-family: Cinema;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  /* background-color: red; */

}

.main-header {
  text-align: center;
  font-size:50px;
  color: #142a42;
  background: rgba(90, 107, 135, 0.2);
  padding: 5px;
  margin: 0;

  /* -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.005px; */

  /* background-color: blue; */
}

.postcode-search {
  background-color: green;
}

.postcode-search-dropdowns{
  background-color: aqua;
}

.search-results-list{
  background-color: yellow;
}

.selected-final-object{
  background-color: orange;
}

.submit-postcode{
  background-color: grey;
}

#film-selector{
  background-color: purple;
}

#cinema-selector{
  background-color: purple;
}

button{
  background-color: pink;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
